@font-face {
    font-family: 'ProximaNova';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/ProximaNova/ProximaNova-RegItalic.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/ProximaNova/ProximaNova-BoldIt.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: lighter;
    font-style: normal;
    src: url("../fonts/ProximaNova/ProximaNova-Light.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: lighter;
    font-style: italic;
    src: url("../fonts/ProximaNova/ProximaNova-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/ProximaNova/ProximaNova-Semibold.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/ProximaNova/ProximaNova-SemiboldItalic.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/ProximaNova/ProximaNova-Extrabold.otf") format("opentype");
}


body{
  background: linear-gradient(20deg, #ff223e 55%, #5D1EB2 10%);
}
p{
  font-family: 'ProximaNova';
}

@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}


/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #5D1EB2;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}


/* Overline From Left */
.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #ff223e;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}


/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #5D1EB2;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
