/* HEADER SECTION */
#header-section .header-title{
  font-weight: 600;
  font-size: 100px;
  color: #ffffff;
  line-height: 117px;
  margin: 0;
  margin-top: 120px;
}
#header-section .header-subtitle{
  font-size: 20px;
  color: #ffffff;
  line-height: 23px;
  margin: 0;
  letter-spacing: 0.42px;
  width: 55%;
}
#header-section .twitter-intro{
    margin-top: 99px;
    margin-bottom: 45px;
}
#header-section .twitter img{
  width: 25px;
}
#header-section .twitter-intro p{
  position: relative;
  top: 0;
  font-size: 24px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0;
  padding-left: 10px;
}
@media (max-width: 768px) {
  #header-section .header-title {
      font-weight: 600;
      font-size: 42px;
      color: #ffffff;
      line-height: 117px;
      margin: 0;
      margin-top: 94px;
  }
  #header-section .header-subtitle {
    font-size: 16px;
    color: #ffffff;
    line-height: 23px;
    margin: 0;
    letter-spacing: 0.42px;
    width: 90%;
  }
  #header-section .twitter-intro p {
    position: relative;
    top: 0;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    display: inline-block;
    margin: 0;
    padding-left: 5px;
  }
  #header-section .twitter-intro img {
    width: 15px;
  }
  #header-section .twitter-intro {
    margin-top: 44px;
    margin-bottom: 26px;
  }
}
